{% extends 'base.html' %}
{% load django_tables2 %}

{% block breadcrumb %}
<li class="breadcrumb-item">Where we came from</li>
<li class="breadcrumb-item active">Where we are</li>
{% endblock %}
{% block content %}
<h1>Welcome to the Load Profile tool!</h1>
<p>This is where you will add, and edit all of the components that will be drawing power in your system. <br>
  <br>Add everything! Phones, computers, lights, microwaves, refridgerators, water pumps and anything else.
  <br>The more accurate the profile you build here is, the better the system will work to your needs.
  <strong>This is the most critical information in determining the components and size of the system you require.</strong>
  If this is not accurate, the system can not be guarinteed.<br><br>
  To start, Simply select a preset item, or make your own.
</p>


  {% render_table table %}


<h3 class="mb-5">
          <form method="post" novalidate>
            {% csrf_token %}
            {% include 'include/form.html' %}

            <button type="submit" class="btn btn-success">Add Another Accessory!</button>
            <a class="btn btn-success" href="{% url 'create_custom_accessory' %}">Create Custom Accessory</a>
            <a class="btn btn-success" href="{% url 'SD_locations' %}">Finished</a>

          </form>
</h3>

{% include 'sdNavbar.html' %}
{% endblock %}

//it may be a good idea to actually build a separate app for the load profile. Because we're gonna be adding, removing and developing items,
//it may make more sense to just break it out. Use an "admin" like view for editing that information. Offer an easy portal for customers
//to directly edit their "database" of items, but reference our pre-populated one.
