{% extends 'base.html' %}
{% block breadcrumb %}
<li class="breadcrumb-item">Where we came from</li>
<li class="breadcrumb-item active">Where we are</li>
{% endblock %}
{% block content %}

<h5 class="mb-5">
    <form method="post" novalidate>
      {% csrf_token %}
      {% include 'include/form.html' %}

      <button type="submit" class="btn btn-success">Update Preferences</button>

    </form>
</h5>

{% include 'sdNavbar.html' %}
{% endblock %}

//What preference items did you have in mind for here?