{% extends 'base.html' %}
{% block breadcrumb %}
<li class="breadcrumb-item">This is going to be the info main page</li>
<li class="breadcrumb-item active">There needs to be links to the different types of info on this page</li>
{% endblock %}
{% block content %}
<div class="container">
  <div class='jumbotron text-center'>
    <a href=#>
    <h3>Information and Guides</h3>
    <p>Navigate the wealth of information provided by Adventure Solar</p>
  </a>
  </div>
</div>
<div class="container">
<h4>Information and Guides</h4>
<p> This is the hub for any and all questions and technial information you may be looking for. </p>
<h4>Lots of crap here</h4>

</div>

{% endblock %}
