{% extends 'base.html' %}
{% block breadcrumb %}
<li class="breadcrumb-item">Where we came from</li>
<li class="breadcrumb-item active">Where we are</li>
{% endblock %}
{% block content %}
<div class="container">
<h4>Hot people using cool tech in the outdoors</h4>
<p> These are the coolest people in the coolest places</p>
<h4>Some fun Facts about stealing solar energy from the sun</h4>

</div>
<div class="container">
  <div class='jumbotron text-center'>
    <a href=#>
    <h3>Design your Solar System Today</h3>
    <p>Use our state of the art solar system designer</p>
  </a>
  </div>
</div>
{% endblock %}
