{% extends 'base.html' %}


{% block breadcrumb %}
<li class="breadcrumb-item">These will be a very helpful</li>
<li class="breadcrumb-item">way to clearly know if you're</li>
<li class="breadcrumb-item">learning about solar chargers, or shore chargers</li>
<li class="breadcrumb-item active">based on the path</li>
{% endblock %}
{% block content %}





<div class="container">
  <div class='jumbotron text-center'>
    <a href=#>
    <h3>Information and Guides</h3>
    <p>Navigate the wealth of information provided by Adventure Solar</p>
  </a>
  </div>
</div>
<div class="container">
<h4>Information and Guides</h4>
<p> This is the hub for any and all questions and technial information you may be looking for. </p>
<h4>Things to do on this page</h4>
<ul class="list-group">
  <li class="list-group-item">
    create a webapp for this section
  </li>
  <li class="list-group-item">
    create a left side nav-bar for moving through all information
  </li>
  <li class="list-group-item">
    create a database model for all technical docs and information
  </li>
  <li class="list-group-item">
    gather, write and upload shitloads of data
  </li>
  <li class="list-group-item">
    create easy upload form for adding information linked to products
  </li>
</ul>

</div>

{% endblock %}
