{% extends 'base.html' %}
{% block breadcrumb %}
<li class="breadcrumb-item">Buy our shit</li>
<li class="breadcrumb-item active">Directly and immediately</li>
{% endblock %}
{% block content %}
<div class="container">
  <div class='jumbotron text-center'>
    <a href=#>
    <h3>Buy shiny Things</h3>
    <p>Browse our thousands of products available.</p>
  </a>
  </div>
</div>

<div class="container">
<h4>More Super-Hot people using cool tech in the outdoors</h4>
<p> These are the coolest people in the coolest places</p>
<h4>Maybe highlighted products could go here in a frame?</h4>

</div>

{% endblock %}
